@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap'); 

@font-face {
    font-family: 'cobra-kai';
    src: url('fontes/Another\ Danger\ -\ Demo.otf') format(opentype);
}

:root {
    --fonte-cobra-kai: 'cobra-kai';
    --fonte-destaque: "Protest Revolution", sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

header {
    background-color: #070908;
    position: relative;
    padding-bottom: 8px;
    min-height: 80px;
}

header img#logo {
    position: absolute;
    top: 8%;
    width: 70px;
}

header > h1 {
    display: inline-block;
    font-family: var(--fonte-cobra-kai);
    color: rgb(181, 0, 0);
    font-size: 250%;
    letter-spacing: 0.2em;
    padding-left: 2em;
    padding-bottom: 30px;
}

header > nav {
    display: inline-block;
    position: relative;
    left: 4%;
}

header > nav > a {
    text-decoration: none;
    font-family: var(--fonte-destaque);
    color: rgba(255, 255, 255, 0.542);
    font-size: 1.2em;
    font-weight: 300;
    margin-right: 20px;
    padding: 5px 8px 5px 8px;
    transition-duration: 0.6s;
    border-radius: 4px;
}

header > nav > a:hover {
    background-color: rgba(89, 2, 2, 0.549);
    color: white;
    font-weight: 500;
}

main {
    background: rgb(40, 39, 39) url('imagens/cobra-kai-background-1320.jpg') center center no-repeat fixed;
    background-size: cover;
    height: 84vh;
}

section {
    background-color: rgba(0, 0, 0, 0.653);
    min-width: 290px;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    height: 95%;
}

main section h1 {
    font: normal 300% var(--fonte-destaque);
    color: rgb(126, 126, 4);
    text-transform: uppercase;
    text-indent: 30px;
    text-shadow: 2px 2px 1px #b500001e;
}

main section article {
    max-width: 400px;
    text-align: justify;
    margin: auto;
}

main section article p {
    color: white;
}

footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: rgba(255, 255, 255, 0.529);
    font-weight: 500;
    text-align: center;
}

footer p strong {
    color: whitesmoke;
}
