@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

@font-face {
    font-family: 'fight';
    src: url('fontes/F-Rotten_Font.ttf') format(truetype);
    font-size: normal;
    font-weight: normal;
}

:root {
    --cor1: #f1f1009f;
    --cor2: #8B8B18;
    --cor3: #606021;
    --cor4: #36361B;
    --cor5: #530c07;

    --fonte-fight: 'fight', cursive, sans-serif;
    --fonte-padrao: Arial, Helvetica, Verdana, sans-serif;
    --fonte-personalizada: "Delius", cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

body { 
    height: 97.5vh;
    background: black url('imagens/cobra-kai-background-1320.jpg') center center no-repeat fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: relative;
    display: block;
    background-color: rgba(255, 255, 255, 0.115);
    padding-top: 20px;
    height: 150px;
}

header  nav {
    display: inline;
    position: absolute;
    left: 80%;
}

header a {
    text-decoration: none;
    font-family: var(--fonte-personalizada);
    color: var(--cor3);
    font-size: 1.5em;
    font-weight: 600;
    padding: 8px;
    transition-duration: 0.4s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.351);
}

header a:hover {
    background-color: rgba(211, 211, 211, 0.46);
    color: var(--cor5);
    border-radius: 8px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.351);
}

main {
    display: block;
    background-color: rgba(255, 255, 255, 0.36);
    min-width: 280px;
    max-width: 1050px;
    margin: auto;
}

main h1 {
    font-family: var(--fonte-fight);
    color: var(--cor5);
    font-weight: 500;
    text-align: center;
    font-size: 3em;
}