@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

@font-face {
    font-family: 'fight';
    src: url('fontes/F-Rotten_Font.ttf') format(truetype);
    font-size: normal;
    font-weight: normal;
}

:root {
    --cor1: #f1f1009f;
    --cor2: #8B8B18;
    --cor3: #606021;
    --cor4: #36361B;
    --cor5: #530c07;

    --fonte-fight: 'fight', cursive, sans-serif;
    --fonte-padrao: Arial, Helvetica, Verdana, sans-serif;
    --fonte-personalizada: "Delius", cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

body { 
    height: 97.5vh;
    background: black url('imagens/cobra-kai-background-1320.jpg') center center no-repeat fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

header {
    display: block;
    height: 150px;
}

header  nav {
    display: block;
    text-align: left;
}

header a {
    text-decoration: none;
    font-family: var(--fonte-fight);
    color: var(--cor1);
    font-size: 2em;
    font-weight: lighter;
    padding: 8px;
    transition-duration: 0.4s;
}

header a:hover {
    background-color: var(--cor1);
    color: var(--cor5);
    border-radius: 8px;
}

main {
    display: block;
    background-color: rgba(255, 255, 255, 0.36);
    min-width: 280px;
    max-width: 1050px;
    margin: auto;
}

main h1 {
    font-family: var(--fonte-fight);
    color: var(--cor5);
    font-weight: 500;
    text-align: center;
    font-size: 3em;
}