@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

@font-face {
    font-family: 'fight';
    src: url('fontes/F-Rotten_Font.ttf') format(truetype);
    font-size: normal;
    font-weight: normal;
}

:root {

    --fonte-fight: 'fight', cursive, sans-serif;
    --fonte-padrao: Arial, Helvetica, Verdana, sans-serif;
    --fonte-personalizada: "Delius", cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background: black url('imagens/cobra-kai-background-1320.jpg') center center no-repeat fixed;
    background-size: cover;
    padding-top: 10px;
}

nav a {
    text-decoration: none;
    background-color: rgba(169, 169, 169, 0.379);
    color: white;
    font-family: var(--fonte-personalizada);
    font-size: 1.6em;
    font-weight: bolder;
    padding: 5px;
    border-radius: 4px;
}