@charset "UTF-8";

@media screen and (orientation: landscape) {
    
    header > a > img#clube-da-luta {
        position: absolute;
        top: 10px;
        left: 89%;
        display: inline-block;
        width: 60px;
        border-radius: 50%;
        border: 1px solid white;
        box-sizing: border-box;
    }
    
    span#burguer {
        display: none;
    }
    menu {
        display: block;
    }

    menu > ul {
        text-align: left;
    }

    menu > ul > li {
        display: inline-block;
        padding: 10px;
        border: none;
    }
}

@media screen and (min-width: 768px) {
    header > h1 {
        font-size: 4em;
        top: -2%;
    }

    header > a > img#clube-da-luta {
        position: absolute;
        top: 10px;
        left: 89%;
        display: inline-block;
        width: 60px;
        border-radius: 50%;
        border: 1px solid white;
        box-sizing: border-box;
    }
    
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul {
        text-align: left;
    }

    menu > ul > li {
        display: inline-block;
        padding: 10px;
        border: none;
    }
}

