@charset "UTF-8";
/* Celulares */

@media screen and (orientation: portrait) {
    header img#clube-da-luta {
        display: none;
    }
    menu > ul {
        display: none;
    }
    #burguer {
        display: block;
        text-align: center;
    }
   
}

@media screen and (orientation: landscape) {
    header  img#clube-da-luta {
        position: absolute;
        display: inline-block;
        width: 70px;
        top: 15px;
        left: 87%;
        border-radius: 50%;
    }

    menu > ul {
        display: inline;
    }
    
}