@charset "UTF-8";

@font-face {
    font-family: 'cobra-kai';
    src: url('../fontes/Another\ Danger\ -\ Demo.otf') format(opentype);
}    

@font-face {
    font-family: 'menu';
    src: url('../fontes/F-Rotten_Font.ttf') format(truetype);
    font-weight: normal;
}
:root {
    --font-cobra-kai: 'cobra-kai', cursive;
    --font-menu: 'menu', cursive;
}

* {
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

html, body {
    width: 100vw;
    height: 100vh;
}

header {
    background-color: #070908;
}

header > h1 {
    position: absolute;
    color: #ad1d22;
    left: 120px;
    top: 2%;
    display: inline-block;
    font-family: var(--font-cobra-kai);
    letter-spacing: .2em;
}

span#burguer {
    background-color: #86181c;
    font-size: 2em;
    padding: 2px;
    display: block;
    text-align: center;
    cursor: pointer;
}

menu > ul {
    text-align: center;
    list-style: none;
}

menu > ul > li {
    border-top: 2px solid rgba(255, 255, 255, 0.138);
    padding: 10px 0px;
}

menu > ul > li > a {
    font-family: var(--font-menu);
    color: #ad1d22;
    letter-spacing: .2em;
    font-size: 1.6em;
    text-decoration: none;
}