@charset "UTF-8";

@font-face {
    font-family: 'cobra-kai';
    src: url('../fontes/Another\ Danger\ -\ Demo.otf') format(opentype);
}    

@font-face {
    font-family: 'menu';
    src: url('../fontes/F-Rotten_Font.ttf') format(truetype);
    font-weight: normal;
}

:root {
    --font-cobra-kai: 'cobra-kai', cursive;
    --font-menu: 'menu', cursive;
}

* {
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

html, body {
    background-image: linear-gradient(to bottom, black, rgb(77, 77, 77));
    height: 100%;
}


header {
    position: relative;
    background-color: #070908;
}

header > h1 {
    position: absolute;
    color: #ad1d22;
    left: 120px;
    top: 10px;
    display: inline-block;
    font-family: var(--font-cobra-kai);
    letter-spacing: .2em;
}

header > a > img#clube-da-luta {
    display: none;
}

span#burguer {
    background-color: #86181c;
    font-size: 2em;
    padding: 2px;
    display: block;
    text-align: center;
    cursor: pointer;
}

menu {
    display: none;
}

menu > ul {
    text-align: center;
    list-style: none;
}

menu > ul > li {
    border-top: 2px solid rgba(255, 255, 255, 0.138); 
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    font-family: var(--font-menu);
    color: #ad1d22;
    letter-spacing: .2em;
    font-size: 1.6em;
    text-decoration: none;
    transition: .6s
    ;
}

menu > ul > li > a:hover {
    background-color: #86181c;
    color: white;
    border-radius: 8px;
}

main {
    padding: 10px;
}

article#desktop {
    display: none;
}

main > article {
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.442);
    margin: auto;
    padding: 10px;
    border-radius: 8px;
}

main > article > h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #070908;
    text-transform: uppercase;
    text-align: center;
}

main > article > h3 abbr {
    text-decoration: none;
}

main > article > h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-indent: 10px;
    margin: 20px 0px;
}

main > article > p {
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;
}

main a {
    text-decoration: none;
    color: #AD1D22;
}

footer {
    background-color: #070908;
}

footer > p {
    color: rgba(255, 255, 255, 0.533);
    text-align: center;
    font-weight: bold;
    padding: 6px;
}

footer > p > strong {
    color: white;
    font-weight: bolder;
}