@charset "UTF-8";

@font-face {
    font-family: 'cobra-kai';
    src: url('../fontes/Another\ Danger\ -\ Demo.otf') format(opentype);
}    

@font-face {
    font-family: 'menu';
    src: url('../fontes/F-Rotten_Font.ttf') format(truetype);
    font-weight: normal;
}
:root {
    --font-cobra-kai: 'cobra-kai', cursive;
    --font-menu: 'menu', cursive;
}

* {
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

html, body {
    width: 100vw;
    height: 100vh;
}

header {

}

header > h1 {
    position: absolute;
    left: 120px;
    top: 2%;
    display: inline-block;
    font-family: var(--font-cobra-kai);
    letter-spacing: .2em;
}

span#burguer {
    display: block;
    text-align: center;
}